* {box-sizing: border-box}

html {scroll-behavior: smooth;}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

img{
  width:300px;
  height:200px;
}

/* table{
  max-width:300px;
  margin-left:auto;
  margin-right:auto;
} */

header{
  font-size: 18px;
  position: fixed;
  top: 0;
  width: 100%;
}

/*
################################################
  navbar
################################################
*/
#nav{
  z-index: 9999;
}
.navbar-default{
  background-color: #101010;
  border-radius: 0;
  border-color: #101010;
  color: white;


}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand{
  color: #bbb;

}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: whitesmoke;

}
.navbar-default .navbar-toggle{
  border-color: #101010;

}
.navbar-default .navbar-toggle .icon-bar{
  color: #bbb;
  background-color: #bbb;

}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #101010;
  color: whitesmoke;

}
/*
################################################
################################################
*/
.left_bar{
  font-size: 20px;
  padding: 80px 100px 70px;
  text-align: left;
}
.right_bar{
  font-size: 20px;
  padding: 80px 100px 70px;
  text-align: right;
}
.home-wrapper {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

/* td
{
    padding:0 30px 0 30px;
} */

/* .scroll {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.scroll::-webkit-scrollbar {
  display: none; }
.logo {
  flex: 0 0 120px;
  padding: 0 5px;
  color: white;
  border-right: 1px solid #727c87;
  text-decoration: none;
  font-size: 20px;
}
nav a.nav-item {
  flex: 0 0 auto;
  padding: 0 5px;
  color: white;
  text-decoration: none;
  font-size: 18px;
} */

.home-background{
  background-color: white;
}

.profile_background{
  /*background-color: whitesmoke;*/
}

#hello {
  padding-top: 40px;
  height: 100%;
  text-align: center;
}

#hello h1 {
  font-size: 36px;
}

#hello h2 {
  font-size: 42px
}

#hello p {
  font-size: 24px;
  color: #444
}

#profile{
  padding: 60px 0 60px;
}

.flex-left, .flex-right {
  width: 100%;
  margin: 0 4%;
  color: black;
}

.linea_est{
  border-top: 1px solid black;
}
.linea_est1{
  border-top: 1px solid white;
}

.flex-left {
  flex-grow: 1;
  max-width: 550px;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 20px;
  text-align: justify;
}

.flex-right {
  max-width: 250px;
  text-align: center;
  line-height: 0.8;
  font-size: 18px;
}

.bar-left {
  flex-grow: 1;
  max-width: 220px;
  font-size: 16px;
  text-align: left;

}

.bar-right {

  font-size: 16px;
  max-width: 220px;
  margin: 0px 35px;
  text-align: right;
}

.abilities{
  background-color: white;
  padding: 60px 0 20px;
  z-index: -1;

}
.portfolio-background {
 background-color: #444;
 width: 100%;

}

#personal_foto{
  width: 200px;
  height: 200px;
  float:left;
  margin-top: 60px;
}

#portfolio {
  padding: 60px 0 20px;
  color: whitesmoke;
}

#portfolio p {
  max-width: 300px;
  text-align: justify;
  font-size: 36;
  color: white;

}

#portfolio h2 {
  text-align: center;
  font-size: 36;
  margin: 20px 0 30px 0;

}
#portfolio h3 {
font-family: 'Roboto', sans-serif;
font-weight: 300;
line-height: 120%;
color: #00bcd4;
margin: 20px 0 17px 0;
display: inline;
width: 100px;
}

#experienced{
  float: right;
  margin-top: -23px;
}

#abilities {
  padding: 70px 0;
}

#abilities .box {
  padding: 0 4px;
  width: 100%;
  max-width: 400px;
  text-align: center;
  padding-top: 10px;
  margin: 0 10px;
  font-size: 22px;
}
#abilities .box progress {
  height: 26px;
  width: 100%;
  max-width: 260px;
}

#contact {
  padding: 90px 0;
  text-align: center;
}

#contact h2 {
  margin-bottom: 40px;
}

#contact .info a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 20px;
  padding: 15px;
  background-color: grey;
  border: 3px solid grey;
  border-radius: 50px;
  display: inline-block;
  margin-bottom: 30px;
  min-width: 310px;
}

#contact .info a:hover {
  background-color: white;
  color: black;
}

#contact .social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#contact .social a {
  text-decoration: none;
  color: whitesmoke;
  display: inline-block;
  font-size: 48px;
  padding: 5px 20px;
  margin: 10px 25px;
  min-width: 90px;
  border-radius: 50px;
}

#contact .social a:first-of-type{
  background-color: #000;
}

#contact .social a:first-of-type:hover{
  background-color:	#0077b5;
}

#contact .social a:nth-of-type(2){
  background-color: #8B9DC3;
}

#contact .social a:nth-of-type(2):hover {
  background-color:	#3b5998;
}
#contact .social a:last-of-type{
  background: #6e5494;
}

#contact .social a:last-of-type:hover{
  background:	#333;
}

footer {
  font-size: 32px;
  text-align: center;
  padding: 80px 0 40px;
  background-color: orange;
  font-weight: 700;
}

.container{
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
  flex-direction: row;
}

.flex-container h2 {
  width: 100%;
  padding-bottom: 20px;
  text-align: center;

}

.progress-bar1 {
 position: relative;
 height: 100px;
 width: 100px;
 margin:0 auto;

}
#abilities .container{
  z-index: -1
}
.progress-bar1 div {
 position: absolute;
 height: 100px;
 width: 100px;
 border-radius: 50%;

}

.progress-bar1 div span {
 position: absolute;
 font-family: Arial;
 font-size: 25px;
 line-height: 75px;
 height: 75px;
 width: 75px;
 left: 12.5px;
 top: 12.5px;
 text-align: center;
 border-radius: 50%;
 background-color: white;

}

.progress-bar1 .background { background-color: #b3cef6; }

.progress-bar1 .rotate {
 clip: rect(0 50px 100px 0);
 background-color: #4b86db;

}

.progress-bar1 .left {
 clip: rect(0 50px 100px 0);
 opacity: 1;
 background-color: #b3cef6;

}

.progress-bar1 .right {
 clip: rect(0 50px 100px 0);
 transform: rotate(180deg);
 opacity: 0;
 background-color: #4b86db;

}

@keyframes
toggle {  0% {
opacity: 0;
}
100% {
opacity: 1;
}
}


@media only screen and (min-width: 370px) {
  .media-container{
    width: 85%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
  }
  #abilities .container{
    z-index: -1
  }
}

@media only screen and (min-width: 768px) {
  .media-container{
    width: 85%;
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
  }
  #abilities .container{
    z-index: -1
  }
  header {
    padding: 12px;
  }
  img{
    width:600px;
    height:400px;
  }

  .logo {
    padding: 0 17px;
    border-right: 0px solid #727c87;
  }
  nav a.nav-item {
    padding: 0 17px;
  }

  #hello {
    height: 100%;
    text-align: center;
  }

  #hello h1 {
    font-size: 48px;
  }

  #hello h2 {
    font-size: 62px
  }

  #hello p {
    font-size: 32px;
  }
  #contact .social a {
    font-size: 32px;
    padding: 5px 10px;
    margin: 10px 25px;
    min-width: 63px;
    border-radius: 50px;
  }
  #portfolio p {
  max-width: 550px;
  text-align: justify;
  font-size: 36;
  color: white;
}
   .bar-left{
  font-size: 20px;
  margin: 10px 130px;
  text-align: center;

}
.bar-right{
  font-size: 20px;
  margin: 10px 25px;
  text-align: right;
}
  table{
  font-size: 26px;
  margin-left:auto;
  margin-right:auto;
}
}
@media only screen and (max-width: 1005px) {
  #abilities .container{
    z-index: -1
  }
}
@media only screen and (max-width: 768px) {
  #abilities .container{
    z-index: -1
  }
}
